<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <properties resource="db/mybatis/SqlMapConfig.properties" />
  <typeAliases>
  	<typeAlias alias="LoginVO" type="login.model.LoginVO"/>
  	<typeAlias alias="BoardVO" type="board.model.BoardVO"/>
  	<typeAlias alias="BoardPageVO" type="board.model.BoardPageVO"/>
  	<typeAlias alias="FilesVO" type="board.model.FilesVO"/>
  	<typeAlias alias="ReplyVO" type="reply.model.ReplyVO"/>
  </typeAliases>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="db/mybatis/sqlmap/login.xml"/>
    <mapper resource="db/mybatis/sqlmap/board.xml"/>
    <mapper resource="db/mybatis/sqlmap/boardpage.xml"/>
    <mapper resource="db/mybatis/sqlmap/files.xml"/>
    <mapper resource="db/mybatis/sqlmap/reply.xml"/>
  </mappers>
</configuration>